pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  margin-block: 10px;
  border-radius: 20px;
  background: #fce8e2;
  color: #5c2b1a;
  /*font-family: 'Fira Code', monospace; */
}

/* Palavras-chave, funções como `useState` */
.hljs-keyword,
.hljs-title,
.hljs-built_in,
.hljs-function {
  color: #ef5a3c;
  font-weight: bold;
}

/* Strings */
.hljs-string {
  color: #c14f2d;
}

/* Números, booleanos, null */
.hljs-literal,
.hljs-number {
  color: #b7410e;
}

/* Comentários */
.hljs-comment {
  color: #a87c6b;
  font-style: italic;
}

/* Variáveis, parâmetros */
.hljs-variable,
.hljs-params {
  color: #5c2b1a;
}

/* Operadores, sinais */
.hljs-operator,
.hljs-punctuation {
  color: #84492c;
}