@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-vanilla: #fff8f6;
  --color-cocoa: #662e1f;
  --color-cinnamon: #926f66;
  --color-papaya: #f07d5f;
  --color-strawberry: #ffb3a0;
  --color-peach: #f9e4dd;
  --color-almond: #cfb4ad;
  --color-watermelon: #ffd4c9;
  --color-apricot: #f0c2b7;
  --color-surface-input: var(--color-peach);
  --color-border-input: var(--color-almond);
  --color-brick-brown: #86331e;

  --color-vanilla-dark: #1e1a19;
  --color-cocoa-dark: #fcd8c9;
  --color-cinnamon-dark: #d8b9ae;
  --color-papaya-dark: #ff9478;
  --color-strawberry-dark: #ffb8a4;
  --color-peach-dark: #3b2d29;
  --color-almond-dark: #5a4741;
  --color-watermelon-dark: #4b3834;
  --color-apricot-dark: #6a4f49;
  --color-surface-input-dark: var(--color-peach);
  --color-border-input-dark: var(--color-almond);
  --color-brick-brown-dark: #ffe3d9;
}

@layer utilities {
  .shine-text {
    background: linear-gradient(
      90deg,
      var(--color-cocoa),
      var(--color-cocoa),
      var(--color-papaya),
      var(--color-cocoa),
      var(--color-cocoa)
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

:root {
  --cursor-normal: url("/cursors/cursor-normal.cur") 0 0;
  --cursor-hover: url("/cursors/cursor-pointer.cur") 16 16;
}

@layer base {
  *,
  :after,
  ::before,
  html,
  body {
    overflow-x: hidden;
    font-family: var(--font-itim) !important;
  }
}

body {
  background-color: var(--color-vanilla);
  color: var(--color-brick-brown);
  cursor: var(--cursor-normal), auto;
  width: 100vw;
  height: 100dvh;
}

.custom-cursor-normal {
  cursor: var(--cursor-normal), auto;
}

.custom-cursor-hover {
  cursor: var(--cursor-hover), auto;
}
