@import "tailwindcss";

@theme {
  --color-background: #FFF8F6;
  --color-text-primary: #662E1F;
  --color-text-secondary: #926F66;
  --color-button-primary: #F07D5F;
  --color-button-secondary: #FFB3A0;
  --color-navbar: #F9E4DD;
  --color-navbar-border: #CFB4AD;
  --color-button-tertiary: #FFD4C9;
  --color-button-quarternary: #F0C2B7;
  --color-input-bg: #F9E4DD;
  --color-input-border: #CFB4AD;
}

:root {
  --cursor-normal: url("/cursors/cursor-normal.png") 10 6;
  --cursor-hover: url("/cursors/cursor-hover.png") 10 6;
}

@layer base {

  *,
  :after,
  ::before,
  html,
  body {
    overflow-x: hidden;
    font-family: var(--font-itim) !important;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  cursor: var(--cursor-normal), auto;
  width: 100vw;
  height: 100dvh;
}

.custom-cursor-normal {
  cursor: var(--cursor-normal), auto;
}

.custom-cursor-hover {
  cursor: var(--cursor-hover), auto;
}