@import "tailwindcss";

@theme {
  --color-vanilla: #FFF8F6;
  --color-cocoa: #662E1F;
  --color-cinnamon: #926F66;
  --color-papaya: #F07D5F;
  --color-strawberry: #FFB3A0;
  --color-peach: #F9E4DD;
  --color-almond: #CFB4AD;
  --color-watermelon: #FFD4C9;
  --color-apricot: #F0C2B7;
  --color-surface-input: var(--color-peach);
  --color-border-input: var(--color-almond);
}

:root {
  --cursor-normal: url("/cursors/cursor-normal.png") 10 6;
  --cursor-hover: url("/cursors/cursor-hover.png") 10 6;
}

@layer base {

  *,
  :after,
  ::before,
  html,
  body {
    overflow-x: hidden;
    font-family: var(--font-itim) !important;
  }
}

body {
  background-color: var(--color-vanilla);
  color: var(--color-cocoa);
  cursor: var(--cursor-normal), auto;
  width: 100vw;
  height: 100dvh;
}

.custom-cursor-normal {
  cursor: var(--cursor-normal), auto;
}

.custom-cursor-hover {
  cursor: var(--cursor-hover), auto;
}